interfaces/OP_CONSUMPTIONITEMSCREATEREQUEST_.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/FI-CA-INV"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://sap.com/xi/FI-CA-INV"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:n1="http://sap.com/xi/SAPGlobal20/Global"
    xmlns:n2="http://sap.com/xi/FI-CAC/Global2">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__binding_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrmp:RMAssertion xmlns:wsrmp="http://docs.oasis-open.org/ws-rx/wsrmp/200702">
                    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
                </wsrmp:RMAssertion>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                    xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true"/>
                <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy"/>
                <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:RequireClientCertificate/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ConsumptionItemsCreateRequest_In">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>42010AEF4E2A1EECA5FE489D42BD162A</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:InterfaceCheckSum>F051B0B57C2E09152755E666A8B4D77AABDE9793</sapcentraladmin:InterfaceCheckSum>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ConsumptionItemsCreateRequest_In">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">yes</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">true</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">false</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">true</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://sap.com/xi/FI-CA-INV"
            xmlns="http://sap.com/xi/FI-CA-INV"
            xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:sprx="urn:sap.com:abap:proxy"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/FI-CAC/Global2">
            <xsd:import namespace="http://sap.com/xi/FI-CAC/Global2"/>
            <xsd:annotation>
                <xsd:documentation>
                    <sprx:documentation version="1" baseURL="https://host:port/sap/bc/esdt/docu/xsd_type?sap-client=client-number"/>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Amount">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="Amount.Content">
                        <xsd:attribute name="currencyCode" use="required" type="CurrencyCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="Amount.Content">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="28"/>
                    <xsd:fractionDigits value="6"/>
                    <xsd:maxInclusive value="9999999999999999999999.999999"/>
                    <xsd:minInclusive value="-9999999999999999999999.999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessDocumentMessageHeader">
                <xsd:sequence>
                    <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="UUID" minOccurs="0" type="UUID"/>
                    <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
                    <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
                    <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
                    <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded" type="BusinessDocumentMessageHeaderParty"/>
                    <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderParty">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
                    <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
                    <xsd:element name="ContactPerson" minOccurs="0" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
                    <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name"/>
                    <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
                    <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessDocumentMessageID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessDocumentMessageID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessDocumentMessageID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="35"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScope">
                <xsd:sequence>
                    <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
                    <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
                    <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BusinessScopeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeInstanceID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeInstanceID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeInstanceID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessScopeTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="BusinessScopeTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="BusinessScopeTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessSystemID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CAAccessServiceID_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="12"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CAAccessUserIDType_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CAAccessUserID_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="50"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CABllbleItmSourceTransId_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="22"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CABllbleItmSourceTransType_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="5"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmClass_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmConsumptionDateTime_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="14"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmDataPackageExtRef_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmDataPackageText_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmFieldDrvtnSchema_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="5"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmIDType_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="5"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmID_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CACnsmpnItmType_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="4"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CAProviderContractID_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CAProviderContractItemID_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CAProviderContractItemNumber_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CASubApplication_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ConsumptionItemsAdditionalParametersCreateRequest">
                <xsd:sequence>
                    <xsd:element name="CACnsmpnItmDataPackageExtRef" minOccurs="0" type="CACnsmpnItmDataPackageExtRef_GFN"/>
                    <xsd:element name="CACnsmpnItmDataPackageText" minOccurs="0" type="CACnsmpnItmDataPackageText_GFN"/>
                    <xsd:element name="CACnsmpnItmFieldDrvtnSchema" minOccurs="0" type="CACnsmpnItmFieldDrvtnSchema_GFN"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsumptionItemsBasicCreateRequest">
                <xsd:sequence>
                    <xsd:element name="CACnsmpnItmClass" minOccurs="0" type="CACnsmpnItmClass_GFN"/>
                    <xsd:element name="CACnsmpnItmIDType" minOccurs="0" type="CACnsmpnItmIDType_GFN"/>
                    <xsd:element name="CACnsmpnItmID" minOccurs="0" type="CACnsmpnItmID_GFN"/>
                    <xsd:element name="CACnsmpnItmType" minOccurs="0" type="CACnsmpnItmType_GFN"/>
                    <xsd:element name="BusinessPartner" minOccurs="0" type="xi1:BusinessPartnerIdentification"/>
                    <xsd:element name="ContractAccount" minOccurs="0" type="xi1:ContractAccountIdentification"/>
                    <xsd:element name="CAContract" minOccurs="0" type="CAProviderContractID_GFN"/>
                    <xsd:element name="CASubApplication" minOccurs="0" type="CASubApplication_GFN"/>
                    <xsd:element name="CAProviderContractItemNumber" minOccurs="0" type="CAProviderContractItemNumber_GFN"/>
                    <xsd:element name="CAProviderContractItemUUID" minOccurs="0" type="CAProviderContractItemID_GFN"/>
                    <xsd:element name="CAAccessUserID" minOccurs="0" type="CAAccessUserID_GFN"/>
                    <xsd:element name="CAAccessUserIDType" minOccurs="0" type="CAAccessUserIDType_GFN"/>
                    <xsd:element name="CAAccessServiceID" minOccurs="0" type="CAAccessServiceID_GFN"/>
                    <xsd:element name="CACnsmpnItmConsumptionDateTime" minOccurs="0" type="CACnsmpnItmConsumptionDateTime_GFN"/>
                    <xsd:element name="CACnsmpnItmDate" minOccurs="0" type="Date"/>
                    <xsd:element name="CACnsmpnItmDateFrom" minOccurs="0" type="Date"/>
                    <xsd:element name="CACnsmpnItmDateTo" minOccurs="0" type="Date"/>
                    <xsd:element name="CACnsmpnItmTime" minOccurs="0" type="Time"/>
                    <xsd:element name="CACnsmpnItmStartTime" minOccurs="0" type="Time"/>
                    <xsd:element name="CACnsmpnItmEndTime" minOccurs="0" type="Time"/>
                    <xsd:element name="CARatingDate" minOccurs="0" type="Date"/>
                    <xsd:element name="CARatingBaseDate" minOccurs="0" type="Date"/>
                    <xsd:element name="CAFirstRatingDate" minOccurs="0" type="Date"/>
                    <xsd:element name="CACnsmpnItmAmount" minOccurs="0" type="Amount"/>
                    <xsd:element name="CACnsmpnItmQty" minOccurs="0" type="Quantity"/>
                    <xsd:element name="CACnsmpnItmIsSimulated" minOccurs="0" type="Indicator"/>
                    <xsd:element name="CACnsmpnItmFieldDrvtnSchema" minOccurs="0" type="CACnsmpnItmFieldDrvtnSchema_GFN"/>
                    <xsd:element name="CABllbleItmSourceTransType" minOccurs="0" type="CABllbleItmSourceTransType_GFN"/>
                    <xsd:element name="CABllbleItmSourceTransId" minOccurs="0" type="CABllbleItmSourceTransId_GFN"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsumptionItemsCreateRequest">
                <xsd:sequence>
                    <xsd:element name="TechnicalSenderID" minOccurs="0" type="ObjectNodePartyTechnicalID"/>
                    <xsd:element name="ConsumptionItemsBasicCreate" maxOccurs="unbounded" type="ConsumptionItemsBasicCreateRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsumptionItemsCreateRequestMessage">
                <xsd:sequence>
                    <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
                    <xsd:element name="Parameters" minOccurs="0" type="ConsumptionItemsParametersCreateRequest"/>
                    <xsd:element name="AdditionalParameters" minOccurs="0" type="ConsumptionItemsAdditionalParametersCreateRequest"/>
                    <xsd:element name="ConsumptionItemsCreate" type="ConsumptionItemsCreateRequest"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ConsumptionItemsParametersCreateRequest">
                <xsd:sequence>
                    <xsd:element name="CAIsSimulated" minOccurs="0" type="Indicator"/>
                    <xsd:element name="CAReturnLogIsRequested" minOccurs="0" type="Indicator"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ContactPersonInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ContactPersonInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ContactPersonInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryDiallingCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CurrencyCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:date">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="EmailURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:anyURI">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element name="faultUrl" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="faultDetail" minOccurs="0" maxOccurs="unbounded" type="ExchangeLogData"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeLogData">
                <xsd:sequence>
                    <xsd:element name="severity" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" minOccurs="0" type="xsd:string"/>
                    <xsd:element name="id" minOccurs="0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LanguageCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:language">
                    <xsd:maxLength value="9"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="MEDIUM_Name.Content">
                        <xsd:attribute name="languageCode" type="LanguageCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="MEDIUM_Name.Content">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeasureUnitCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodePartyTechnicalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="70"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyInternalID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyInternalID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="32"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyStandardID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyStandardID.Content">
                        <xsd:attribute name="schemeAgencyID" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="3"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyStandardID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="13"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PhoneNumber">
                <xsd:sequence>
                    <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
                    <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
                    <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
                    <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
                    <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
                    <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="PhoneNumberAreaID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberExtensionID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PhoneNumberSubscriberID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="30"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Quantity">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="Quantity.Content">
                        <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="Quantity.Content">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="31"/>
                    <xsd:fractionDigits value="14"/>
                    <xsd:maxInclusive value="99999999999999999.99999999999999"/>
                    <xsd:minInclusive value="-99999999999999999.99999999999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Time">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Time</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="UUID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:length value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
            xmlns="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:sprx="urn:sap.com:abap:proxy"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/FI-CAC/Global2">
            <xsd:import namespace="http://sap.com/xi/FI-CA-INV"/>
            <xsd:annotation>
                <xsd:documentation>
                    <sprx:documentation version="1" baseURL="https://host:port/sap/bc/esdt/docu/xsd_type?sap-client=client-number"/>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:element name="ConsumptionItemsCreateRequest" type="tns:ConsumptionItemsCreateRequestMessage"/>
            <xsd:element name="StandardMessageFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="tns:ExchangeFaultData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/FI-CAC/Global2"
            xmlns="http://sap.com/xi/FI-CAC/Global2"
            xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
            xmlns:sprx="urn:sap.com:abap:proxy"
            xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
            xmlns:xi1="http://sap.com/xi/FI-CAC/Global2">
            <xsd:annotation>
                <xsd:documentation>
                    <sprx:documentation version="1" baseURL="https://host:port/sap/bc/esdt/docu/xsd_type?sap-client=client-number"/>
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType name="BusinessPartnerIDByExtSystem_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BusinessPartnerIdentification">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="BusinessPartnerInternalID"/>
                    <xsd:element name="LegacyBusinessPartnerID" minOccurs="0" type="BusinessPartnerIDByExtSystem_GFN"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="BusinessPartnerInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ContractAccountExtReference_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ContractAccountIdentification">
                <xsd:sequence>
                    <xsd:element name="InternalID" minOccurs="0" type="ContractAccount_GFN"/>
                    <xsd:element name="LegacyContractAccountID" minOccurs="0" type="ContractAccountExtReference_GFN"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ContractAccount_GFN">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="12"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ConsumptionItemsCreateRequest">
        <wsdl:part name="ConsumptionItemsCreateRequest" element="n1:ConsumptionItemsCreateRequest"/>
    </wsdl:message>
    <wsdl:message name="StandardMessageFault">
        <wsdl:part name="StandardMessageFault" element="n1:StandardMessageFault"/>
    </wsdl:message>
    <wsdl:portType name="ConsumptionItemsCreateRequest_In">
        <wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem applicationComponent="FI-CA-INV"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__ConsumptionItemsCreateRequest_In"/>
        </wsp:Policy>
        <wsdl:operation name="ConsumptionItemsCreateRequest_In">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ConsumptionItemsCreateRequest_In"/>
            </wsp:Policy>
            <wsdl:input message="tns:ConsumptionItemsCreateRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="binding" type="tns:ConsumptionItemsCreateRequest_In">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ConsumptionItemsCreateRequest_In">
            <soap:operation soapAction="http://sap.com/xi/FI-CA-INV/ConsumptionItemsCreateRequest_In/ConsumptionItemsCreateRequest_InRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="binding_soap12" type="tns:ConsumptionItemsCreateRequest_In">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ConsumptionItemsCreateRequest_In">
            <wsoap12:operation soapAction="http://sap.com/xi/FI-CA-INV/ConsumptionItemsCreateRequest_In/ConsumptionItemsCreateRequest_InRequest" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="service">
        <wsdl:port name="binding" binding="tns:binding">
            <soap:address location="https://host:port/sap/bc/srt/scs/sap/consumptionitemscreaterequest_?sap-client=client-number"/>
        </wsdl:port>
        <wsdl:port name="binding_soap12" binding="tns:binding_soap12">
            <wsoap12:address location="https://host:port/sap/bc/srt/scs/sap/consumptionitemscreaterequest_?sap-client=client-number"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>